.transition {
    z-index: 9999;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.transition[style*="display: grid"] {
    pointer-events: auto;
}

.transition-block {
    background-color: #D3FD50;
    width: 100.5%; 
    height: 100.5%; 
    opacity: 0; 
    visibility: hidden;
    margin: -1px;
}

.transition-block[style*="visibility: inherit"], 
.transition-block[style*="visibility: visible"],
.transition-block[style*="opacity: 1"] {
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .transition {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 479px) {
    .transition {
        grid-template-columns: repeat(4, 1fr);
    }
}
